Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: docs/(conf.py|_ext/)
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (devtools|docs)/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$|^\.github/workflows/issue_to_jira.yml$)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Start removing the close_file in favor of with open
  geoh5py/io/h5_writer.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Continue removal of close_file
  geoh5py/io/h5_writer.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Add small helper function to reformat type string
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Add fetch_or_create_root() function
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

move fetch_h5_handle to shared utils
  geoh5py/shared/__init__.py
  geoh5py/shared/utils.py
Due: pylint, check-copyright

Update remove_root_test with scope
  tests/remove_root_test.py
Due: pylint, check-copyright

Add helper function io_call to interact with H5Reader/Writer. Standardize input order
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Update geoh5py/shared/utils.py
  geoh5py/shared/utils.py
Due: pylint, check-copyright

Bulk changes to contextmanager for fetch_h5_file
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/shared/utils.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Revert back to specific typing List[Type]
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

version on dev branch: v0.2.0-alpha
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Add placeholders for all known entities. Initial structure
  .rstcheck.cfg
  docs/content/geoh5_format/analyst/data.rst
  docs/content/geoh5_format/analyst/groups.rst
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/giftools/groups.rst
  docs/content/geoh5_format/groups.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/index.rst
  docs/content/geoh5_format/integrator/data.rst
  docs/content/geoh5_format/integrator/groups.rst
  docs/content/geoh5_format/integrator/objects.rst
  docs/content/geoh5_format/integrator/themes.rst
  docs/content/geoh5_format/objects.rst
  docs/content/geoh5_format/types.rst
Due: rstcheck

Update entities.ipynb
  docs/content/user_guide/entities.ipynb
Due: none

Update README.rst
  README.rst
Due: rstcheck

Update geoh5_file_format.textile
  docs/content/geoh5_file_format.textile
Due: none

Add figures
  docs/content/geoh5_format/analyst/data.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/images/data.png
  docs/content/geoh5_format/images/entity_links.png
  docs/content/geoh5_format/images/groups.png
  docs/content/geoh5_format/images/hierarchy.png
  docs/content/geoh5_format/images/objects.png
  docs/content/geoh5_format/images/root.png
  docs/content/geoh5_format/images/types.png
Due: rstcheck

Change types tfrom recarray to ndarray on creation
  geoh5py/data/color_map.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/octree.py
  geoh5py/objects/points.py
Due: pylint, check-copyright

Augment copy_entity_test to cover more entities and write, re-open of workspace.
  tests/copy_entity_test.py
Due: pylint, check-copyright

Small fixes for docs
  docs/content/user_guide/entities.ipynb
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

CHange link to HDFGroup
  docs/content/geoh5_format/index.rst
Due: rstcheck

remove code commented out
  tests/copy_entity_test.py
Due: pylint, check-copyright

More edits from Julien
  docs/content/geoh5_format/analyst/groups.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/index.rst
Due: rstcheck

Minor edits to docs
  docs/content/geoh5_format/analyst/data.rst
  docs/content/geoh5_format/hierarchy.rst
Due: rstcheck

Add unit test with mock
  tests/save_modified_properties_test.py
Due: pylint, check-copyright

Add files via upload
  examples/geoh5py_xarray_testing_and_back.ipynb
  examples/grid_save_out.nc
Due: none

Change the mock checks to the H5Writer methods
  tests/save_modified_properties_test.py
Due: pylint, check-copyright

Add checks for list of modified_attributes
  tests/save_modified_properties_test.py
Due: pylint, check-copyright

GEOPY-248: update locked pylint
  poetry.lock
Due: none

fix pylint errors
  geoh5py/data/color_map.py
  geoh5py/data/data_type.py
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Fix for single line surveys, depth without values
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Add tolerance property on drillhole object to hold default. Fix test
  geoh5py/objects/drillhole.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Bulk update to geoh5 format docs
  docs/content/geoh5_format/analyst/data.rst
  docs/content/geoh5_format/analyst/groups.rst
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/giftools/groups.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/integrator/data.rst
  docs/content/geoh5_format/integrator/groups.rst
  docs/content/geoh5_format/integrator/objects.rst
  docs/content/geoh5_format/integrator/themes.rst
Due: rstcheck

master branch was renamed to main
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

pytest on Windows only for all PRs
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
Due: none

static analysis for all protected branches
  .github/workflows/static-analysis.yml
Due: none

pytest on Unix also for main, hotfix and release branches
  .github/workflows/pytest-unix-os.yml
Due: none

Change drillhole tolerance to default_colocation_distance
  docs/content/user_guide/entities.ipynb
  geoh5py/objects/drillhole.py
  geoh5py/shared/utils.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Fix typo collocation
  docs/content/user_guide/entities.ipynb
  geoh5py/objects/drillhole.py
  geoh5py/shared/utils.py
Due: pylint, check-copyright

Increase testing for collocated depth insertion
  tests/create_drillhole_data_test.py
  tests/insert_drillhole_data_test.py
Due: pylint, check-copyright

Switch attributes to Sphinx Field List
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/hierarchy.rst
Due: rstcheck
