Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
    -   id: reorder-python-imports
        args: [--py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.720
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^doc/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
    -   id: codespell
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: flake8
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
    -   id: rst-backticks

Review curve docstrings
  geoh5py/objects/block_model.py
  geoh5py/objects/curve.py
Due: pylint

More on curve and SurveyAirborne
  geoh5py/objects/curve.py
Due: pylint

GEOIO-34: opening a GitHub issue creates a JIRA issue
  .github/workflows/issue_to_jira.yml
Due: none

GEOIO-34: update issue with JIRA ID
  .github/workflows/issue_to_jira.yml
Due: none

auto-fix by pre-commit hooks
  pyproject.toml
  tests/create_octree_test.py
Due: pylint

use regular pre-commit commit, skip pylint
  .github/workflows/static-analysis.yml
  .pre-commit-ci-config.yaml
Due: none

use github action cache for pre-commit
  .github/workflows/static-analysis.yml
Due: none

sometimes actions do not run on pull-requests
  .github/workflows/static-analysis.yml
Due: none

use github action cache for poetry
  .github/workflows/static-analysis.yml
Due: none

use poetry install action and cache for pytest
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
Due: none

install poetry manually instead of used dschep action
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

fix usage of cache for poetry
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

verbose poetry install
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

use cache dir path instead of virtualenv for caching poetry
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

no pypoerty cache folder: try pip cache
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

explicitly skip dependency install if cache-hit
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

finally try cache with venv in project
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

Keep only README, remove description.rst, requirements.txt
  README.rst
  description.rst
  docs/requirements.txt
  pyproject.toml
Due: rstcheck

Change to upper case ANALYST
  docs/conf.py
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/workspace.ipynb
  docs/index.rst
Due: pylint, rstcheck

Update property_group docstring
  geoh5py/groups/property_group.py
  geoh5py/groups/root_group.py
Due: pylint

Update grid2D docstring. Sort attributes in alphabetic order
  geoh5py/objects/grid2d.py
Due: pylint

Update docstrings for object_base
  geoh5py/objects/object_base.py
Due: pylint

Add implementation warning to Label docstrings
  geoh5py/objects/label.py
Due: pylint

Review octree docstrings
  geoh5py/objects/octree.py
Due: pylint

Change from math to python block code in docstrings
  geoh5py/data/color_map.py
  geoh5py/data/data_type.py
  geoh5py/io/h5_reader.py
  geoh5py/objects/block_model.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_type.py
Due: pylint

More docstrings
  geoh5py/objects/block_model.py
  geoh5py/objects/curve.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_base.py
  geoh5py/objects/object_type.py
  geoh5py/objects/octree.py
  geoh5py/objects/points.py
  geoh5py/objects/surface.py
  geoh5py/objects/survey_location.py
Due: pylint

Add warnings Not Implemented for unused entities
  geoh5py/shared/coord3d.py
  geoh5py/shared/date_time.py
  geoh5py/shared/distance_unit.py
  geoh5py/shared/file_name.py
  geoh5py/shared/version_number.py
  geoh5py/shared/version_string.py
  geoh5py/shared/vertex_index.py
Due: pylint

Add CommetsText and add_comments to Group and Objecs. Add test
  geoh5py/data/__init__.py
  geoh5py/data/text_data.py
  geoh5py/groups/group.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/object_base.py
  geoh5py/shared/entity.py
  geoh5py/workspace/workspace.py
  tests/user_comments_test.py
Due: pylint

Fix issue with default comment author to workspace.contributors
  geoh5py/groups/group.py
  geoh5py/objects/object_base.py
Due: pylint

Re-order Entity properties in alphabetic order. Fix docsstrings
  geoh5py/shared/entity.py
Due: pylint

Safety check for empty comments
  geoh5py/data/text_data.py
Due: pylint

Test for default comment author
  tests/user_comments_test.py
Due: pylint

Fix broken hyperlink in readme
  README.rst
Due: rstcheck
