Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Added reviewers requested changes.
  .gitignore
  docs/content/uijson_format/index.rst
Due: rstcheck

Added reviewers requested changes.
  docs/content/uijson_format/index.rst
  docs/content/user_guide/my_project.geoh5
Due: rstcheck

Added reviewers requested changes.
  docs/content/uijson_format/index.rst
Due: rstcheck

removed black padding from images
  docs/content/uijson_format/images/ANALYST_preferences.png
  docs/content/uijson_format/images/block_model_output.png
  docs/content/uijson_format/images/block_model_uijson.png
Due: none

update version of pylint and config
  .pre-commit-config.yaml
  poetry.lock
  pylintrc
  pyproject.toml
Due: none

pylint: allow for 16 class attributes
  pylintrc
Due: none

pylint: allow fixme and missing-class-docstring
  pylintrc
Due: none

disable pylint report locally in some tests
  tests/weakref_test.py
  tests/weakref_utils_test.py
Due: pylint, check-copyright

fix useless-super-delegation pylint warning
  geoh5py/data/float_data.py
  geoh5py/data/numeric_data.py
  geoh5py/objects/surveys/electromagnetics/airborne_tem.py
  geoh5py/objects/surveys/electromagnetics/base.py
  geoh5py/objects/surveys/electromagnetics/magnetotellurics.py
  geoh5py/objects/surveys/magnetics.py
  geoh5py/shared/validators.py
Due: pylint, check-copyright

pylint does not need to load numpy nor scipy
  pylintrc
Due: none

remove unnecessary ellipsis (pylint)
  geoh5py/data/data.py
  geoh5py/objects/object_base.py
  geoh5py/objects/surveys/electromagnetics/base.py
Due: pylint, check-copyright

fix invalid typevar name (pylint)
  geoh5py/shared/entity_type.py
Due: pylint, check-copyright

fix unnecessary-dunder-call (pylint)
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

set pylint to fail on fatal, error, and warning
  pylintrc
Due: none

set minimum version for numpy
  poetry.lock
  pyproject.toml
Due: none

CI run also on python 3.9
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
Due: none

update package locks
  poetry.lock
Due: none

use new poetry installer
  .github/workflows/codeql-analysis.yml
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

possibility to force update of the cache
  .github/workflows/codeql-analysis.yml
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

Added link to JSON objects and resolved reviewers requested changes.
  docs/content/uijson_format/index.rst
Due: rstcheck

Work on handling of workspace in InputFile
  geoh5py/ui_json/input_file.py
  geoh5py/ui_json/utils.py
Due: pylint, check-copyright

Bold the datasets header
  docs/content/geoh5_format/analyst/objects.rst
Due: rstcheck

Removed duplicate links to JSON schema.
  docs/content/uijson_format/index.rst
Due: rstcheck

Revert "Bold the datasets header"
  docs/content/geoh5_format/analyst/objects.rst
Due: rstcheck

Fix tests
  geoh5py/ui_json/input_file.py
  tests/validators_test.py
Due: pylint, check-copyright

We were closing the workspace at the end of InputFile.__init__, but we missed the read_ui_json() constructor pathway - added a .close there too.
  geoh5py/ui_json/input_file.py
Due: pylint, check-copyright

Add IntegratorDrillholeGroup type
  geoh5py/groups/__init__.py
  geoh5py/groups/drillhole_group.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Fixes to copy concatenator without creating children
  geoh5py/data/__init__.py
  geoh5py/data/data_type.py
  geoh5py/data/primitive_type_enum.py
  geoh5py/data/text_data.py
  geoh5py/io/h5_writer.py
  geoh5py/shared/concatenation.py
  geoh5py/shared/utils.py
Due: pylint, check-copyright

fixed a broken link
  docs/content/uijson_format/index.rst
Due: rstcheck

Copy new data type
  geoh5py/shared/concatenation.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Load drillhole children after copy
  geoh5py/shared/concatenation.py
Due: pylint, check-copyright

More flexible name for from to
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Improve robustness of drillhole add_data
  geoh5py/data/integer_data.py
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

put drape test in context
  tests/create_drape_model_test.py
Due: pylint, check-copyright

Force type values
  tests/create_drape_model_test.py
Due: pylint, check-copyright

Increase coverage
  tests/create_drape_model_test.py
Due: pylint, check-copyright

Fix copying property_groups on object.copy()
  geoh5py/shared/utils.py
  geoh5py/workspace/workspace.py
  tests/create_property_group_test.py
Due: pylint, check-copyright

Allow get contenated data by uuid
  geoh5py/shared/concatenation.py
Due: pylint, check-copyright

Improve fetching From and To data
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Improve handling of ndv for integer data. Fix tests
  geoh5py/data/float_data.py
  geoh5py/data/integer_data.py
  geoh5py/data/numeric_data.py
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  tests/create_curve_data_test.py
  tests/create_survey_tem_test.py
  tests/no_data_value_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  check-copyright: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  rstcheck: any of: .rst, but not: docs/(conf.py|_ext/)
