Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
    -   id: reorder-python-imports
        args: [--py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.720
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^doc/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
    -   id: codespell
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: flake8
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
    -   id: rst-backticks

some improvements on conventions:
  geoh5io/data/data_association_enum.py
  geoh5io/data/primitive_type_enum.py
  geoh5io/groups/container_group.py
  geoh5io/groups/custom_group.py
  geoh5io/groups/drillhole_group.py
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/objects/block_model.py
  geoh5io/objects/cell.py
  geoh5io/objects/curve.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/geo_image.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/label.py
  geoh5io/objects/object_base.py
  geoh5io/objects/object_type.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/shared/date_time.py
  geoh5io/shared/distance_unit.py
  geoh5io/shared/file_name.py
  geoh5io/shared/vertex_index.py
  geoh5io/workspace/root_group.py
  geoh5io/workspace/workspace.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

auto register created entity. With tests
  geoh5io/data/data.py
  geoh5io/groups/group.py
  geoh5io/objects/object_base.py
  geoh5io/workspace/workspace.py
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

update packages
  poetry.lock
Due: none

Move edits to reader from impl_stubs_vDF branch
  geoh5io/io/h5_reader.py
  geoh5io/workspace/workspace.py
  pyproject.toml
Due: pylint

Revert h5_reader to classmethods only
  geoh5io/io/h5_reader.py
  geoh5io/workspace/workspace.py
Due: pylint

Bring back h5file setter with optional None
  geoh5io/workspace/workspace.py
Due: pylint

Add workspace_attributes
  geoh5io/io/h5_reader.py
  geoh5io/workspace/workspace.py
Due: pylint

Begin work on loading workspace tree
  geoh5io/io/h5_reader.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/workspace.py
Due: pylint

add ability to create predefined data types for X,Y,Z
  geoh5io/data/__init__.py
  geoh5io/data/data_type.py
  geoh5io/data/geometric_data_constants.py
  geoh5io/data/primitive_type_enum.py
Due: pylint

forces definition of class_id and fix the incorrect ones
  geoh5io/data/data.py
  geoh5io/data/data_type.py
  geoh5io/data/primitive_type_enum.py
  geoh5io/data/unknown_data.py
  geoh5io/groups/__init__.py
  geoh5io/groups/container_group.py
  geoh5io/groups/custom_group.py
  geoh5io/groups/drillhole_group.py
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/groups/notype_group.py
  geoh5io/objects/__init__.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/geo_image.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/notype_object.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/workspace/root_group.py
Due: pylint

tests for creating the x,y,z DataTypes
  tests/xyx_datatype_test.py
Due: pylint

remove class_id: this is only when loading legacy IWS format
  geoh5io/groups/container_group.py
  geoh5io/groups/custom_group.py
  geoh5io/groups/drillhole_group.py
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/groups/notype_group.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/geo_image.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/label.py
  geoh5io/objects/notype_object.py
  geoh5io/objects/object_base.py
  geoh5io/objects/object_type.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

remove all references to legacy class ID (also from the format doc)
  doc/source/GeoH5.textile
  geoh5io/groups/group_type.py
  geoh5io/objects/object_type.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

Add project tree reader to workspace
  geoh5io/io/h5_reader.py
  geoh5io/workspace/workspace.py
Due: pylint

use weakrefs in the workspace dictionary
  geoh5io/data/__init__.py
  geoh5io/handlers/__init__.py
  geoh5io/io/__init__.py
  geoh5io/shared/__init__.py
  geoh5io/shared/weakref_utils.py
  geoh5io/workspace/__init__.py
  geoh5io/workspace/workspace.py
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
  tests/weakref_utils_test.py
Due: pylint

make auto-register functions of workspace protected
  geoh5io/data/data.py
  geoh5io/groups/group.py
  geoh5io/objects/object_base.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/workspace.py
Due: pylint

tests making sure no unused references remains in workspace
  geoh5io/shared/weakref_utils.py
  geoh5io/workspace/workspace.py
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
  tests/workspace_context_test.py
Due: pylint

apply isort
  geoh5io/objects/object_base.py
Due: pylint

Update pythonpackage.yml
  .github/workflows/pythonpackage.yml
Due: none

fix actions
  .github/workflows/pythonpackage.yml
Due: none

add pytest-cov and move sphinx to extra [doc]
  poetry.lock
  pyproject.toml
Due: none

configure test coverage at 80% for now
  .coveragerc
  .github/workflows/pythonpackage.yml
Due: none

fix test on event type for actions
  .github/workflows/pythonpackage.yml
Due: none

Implement get_object from string name either from workspace or tree
  geoh5io/shared/weakref_utils.py
  geoh5io/workspace/workspace.py
Due: pylint

split CI in different jobs, and have dedicated pre-commit config
  .github/workflows/pythonpackage.yml
  .pre-commit-ci-config.yaml
Due: none

pylint: exclude handlers files for now
  .pre-commit-config.yaml
  geoh5io/handlers/data_handler.py
  geoh5io/handlers/groups_handler.py
  geoh5io/handlers/objects_handler.py
  geoh5io/handlers/workspace_handler.py
Due: pylint

publish coverage to codecov
  .github/workflows/pythonpackage.yml
Due: none

add codecov badge
  README.rst
Due: rstcheck

only submit coverage for master and development
  .github/workflows/pythonpackage.yml
Due: none

fixup condition on branch for codecov
  .github/workflows/pythonpackage.yml
Due: none

for pull requests, run pylint on changed files only
  .github/workflows/pythonpackage.yml
Due: none

capture better list of changed files for -re-commit hooks
  .github/workflows/pythonpackage.yml
Due: none

github.ref is not the destination branch, just hard-code do development for now
  .github/workflows/pythonpackage.yml
Due: none

make pylint has at least one file to check
  .github/workflows/pythonpackage.yml
Due: none

only trigger if relevant files are changed
  .github/workflows/pythonpackage.yml
Due: none

actually, must always run the workflow or mandatory checks are not executed
  .github/workflows/pythonpackage.yml
Due: none

fix upload of coverage to codecov
  .github/workflows/pythonpackage.yml
Due: none

simpler installation/execution of poetry
  .github/workflows/pythonpackage.yml
Due: none

fix error: poetry not in path
  .github/workflows/pythonpackage.yml
Due: none
