Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

use tempfile to autodelete files created by tests
  tests/copy_entity_test.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_group_test.py
  tests/create_octree_test.py
  tests/create_point_data_test.py
  tests/create_property_group_test.py
  tests/create_surface_data_test.py
Due: pylint

explicit temp path to control the creation default geoh5
  tests/workspace_context_test.py
  tests/xyx_datatype_test.py
Due: pylint

explicit temp path to control the creation default geoh5
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

fix end of file
  docs/requirements.txt
Due: none

if no cells on surface, just return null
  geoh5py/objects/surface.py
Due: pylint

Split user_guide entity docs
  docs/content/user_guide/data.ipynb
  docs/content/user_guide/groups.ipynb
  docs/content/user_guide/index.rst
  docs/content/user_guide/objects.ipynb
  docs/content/user_guide/workspace.ipynb
Due: rstcheck

GEOIO-26: exclude thrift interfaces and handlers from packaging
  pyproject.toml
Due: none

GEOIO-26: remove unnecessary files
  requirements.txt
  setup.py
Due: pylint

GEOIO-26: prepare for publishing on Pypi and RTD
  geoh5py/__init__.py
  poetry.lock
  pyproject.toml
Due: pylint

GEOIO-25: add license files
  COPYING
  COPYING.LESSER
Due: none

GEOIO-25: pre-commit check for copyright
  .pre-commit-ci-config.yaml
  .pre-commit-config.yaml
  devtools/check-copyright.py
Due: pylint

update pre-commit hooks
  .pre-commit-ci-config.yaml
  .pre-commit-config.yaml
Due: none

GEOIO-26: copy readme from the doc
  README-dev.rst
  README.rst
Due: rstcheck

try using poetry-publish
  devtools/publish.py
  poetry.lock
  pyproject.toml
Due: pylint

GEOIO-26: update test for version
  tests/geoh5io_test.py
Due: pylint

GEOIO-26: fix formatting of publish script
  .pre-commit-config.yaml
  devtools/publish.py
Due: pylint

github action: pylint on tests too
  .github/workflows/pythonpackage.yml
Due: none

remove obsolete poetry-setup
  poetry.lock
  pyproject.toml
Due: none

Move refine functions out to geoapp utils
  geoh5py/objects/octree.py
  tests/create_octree_test.py
Due: pylint

Update octree docstrings
  geoh5py/objects/octree.py
Due: pylint

More doc string, re-install pre-commit hooks and re-run
  geoh5py/objects/block_model.py
  pyproject.toml
Due: pylint

Add figures for remaining object types
  docs/content/user_guide/images/blank_project.png
  docs/content/user_guide/images/blockmodel.png
  docs/content/user_guide/images/grid2d.png
  docs/content/user_guide/images/octree.png
  docs/content/user_guide/workspace.ipynb
Due: none

test expected failure with non ascii filename on windows
  tests/h5_non_ascii_filename_test.py
Due: pylint

run tests in github on multiple platforms
  .github/workflows/pythonpackage.yml
Due: none

split single github workflow
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

pytest on all OS for PR targeting master branch
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
Due: none

GEOIO-26: better description for PyPi
  README-dev.rst
  README.rst
  description.rst
  pyproject.toml
Due: rstcheck

GEOIO-26: test publish of 0.0.2-dev
  geoh5py/__init__.py
  pyproject.toml
Due: pylint

GEOIO-26: use our patched version of poetry-publish
  poetry.lock
  pyproject.toml
Due: none

Reformat API tabs
  docs/content/api/geoh5py.rst
Due: rstcheck

GEOIO-26: update poetry-publish for less dependency
  poetry.lock
Due: none

update .ignore with some standard ignores
  .gitignore
Due: none

GEOIO-26: rename test file with geoh5py
  tests/geoh5py_test.py
Due: pylint

Merge and add content for data
  .pre-commit-config.yaml
  docs/content/user_guide/data.ipynb
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/groups.ipynb
  docs/content/user_guide/images/data.png
  docs/content/user_guide/images/groups.png
  docs/content/user_guide/images/objects.png
  docs/content/user_guide/index.rst
Due: rstcheck

GEOIO-26: fix pylint in github action upon file removal
  .github/workflows/static-analysis.yml
Due: none

GEOIO-26: rename repo to geoh5py
  .travis.yml
  README.rst
  description.rst
  docs/conf.py
  docs/index.rst
  environment.yml
  examples/EMAG_global_plot.ipynb
  pyproject.toml
Due: pylint, rstcheck

GEOIO-29: remove dependency on thrift
  README.rst
  config-example.toml
  examples/simple_app.py
  examples/simple_client.py
  geoh5py/interfaces/__init__.py
  interfaces/api.thrift
  interfaces/data.thrift
  interfaces/groups.thrift
  interfaces/objects.thrift
  interfaces/shared.thrift
  interfaces/workspace.thrift
  poetry.lock
  pyproject.toml
  server/server.py
Due: pylint, rstcheck

GEOIO-26: fix static code analysis errors
  geoh5py/data/color_map.py
  geoh5py/data/data_type.py
Due: pylint

Continue docs on entities. Add option to create property_group from list of data
  docs/content/user_guide/entities.ipynb
  geoh5py/objects/object_base.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^doc/
  rstcheck: any of: .rst
