Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

[GEOPY-380] Addition of UI.JSON file doc and examples
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/uijson_format/images/bool_param.png
  docs/content/uijson_format/images/choice_list_param.png
  docs/content/uijson_format/images/data_param.png
  docs/content/uijson_format/images/data_value_param.png
  docs/content/uijson_format/images/dependency_ex1.png
  docs/content/uijson_format/images/dependency_ex2.png
  docs/content/uijson_format/images/dependency_ex3.png
  docs/content/uijson_format/images/file_choice.png
  docs/content/uijson_format/images/file_param.png
  docs/content/uijson_format/images/float_param.png
  docs/content/uijson_format/images/int_param.png
  docs/content/uijson_format/images/object_param.png
  docs/content/uijson_format/images/str_param.png
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
  docs/index.rst
Due: rstcheck

[GEOPY-380] Updated json_objects
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

Fixed bracket.
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

[GEOPY-380] Took review comments into account. Added new image and made sure the names were consistent. Added new external links
  docs/content/uijson_format/images/data_value_param2.png
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

html commit
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

what
  docs/content/uijson_format/index.rst
Due: rstcheck

Update docs/content/uijson_format/json_objects.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

Update docs/content/uijson_format/index.rst
  docs/content/uijson_format/index.rst
Due: rstcheck

[GEOPY-380] Updated toc issue
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

[GOEPY-380] Update to intro and data or value parameter section
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

[GEOPY-380] Fixed JSON external link
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

Trigger mypy
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Allow instantiation of data without values. Fix data values setter to None
  geoh5py/data/numeric_data.py
  geoh5py/objects/object_base.py
  tests/no_data_value_test.py
Due: pylint, check-copyright

Syntax cleanup
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Add StatsCache check. Extend unit test
  geoh5py/io/h5_writer.py
  tests/create_point_data_test.py
Due: pylint, check-copyright

Add add_frequency_data method
  geoh5py/objects/object_base.py
  geoh5py/objects/surveys/magnetotellurics.py
Due: pylint, check-copyright

Create docs for MT survey. Split surveys into individual notebooks
  docs/content/user_guide/direct_current.ipynb
  docs/content/user_guide/images/mt_survey.png
  docs/content/user_guide/index.rst
  docs/content/user_guide/magnetotelluric.ipynb
  docs/content/user_guide/surveys.rst
Due: rstcheck

Add unittest for MT survey
  geoh5py/objects/surveys/magnetotellurics.py
  geoh5py/workspace/workspace.py
  tests/create_survey_mt_test.py
Due: pylint, check-copyright

Pull defaults from meta for input_type, survey_type and unit. More unittests
  geoh5py/objects/surveys/magnetotellurics.py
  tests/create_survey_mt_test.py
Due: pylint, check-copyright

GEOPY-407: copy fixes from geoapps
  .github/workflows/pr_add_jira_summary.yml
Due: none

GEOPY-408 add pylint-exit as a dev dependency
  pyproject.toml
Due: none

GEOPY-408 add pylint-exit to poetry.lock
  poetry.lock
Due: none

GEOPY-408 temporarily modify a file so that it will be pylinted.
  tests/weakref_utils_test.py
Due: pylint, check-copyright

Initial commit for input file, validation and constant for ui.json
  geoh5py/ui_json/__init__.py
  geoh5py/ui_json/constants.py
  geoh5py/ui_json/input_file.py
  geoh5py/ui_json/validators.py
  tests/load_ui_json_test.py
Due: pylint, check-copyright

Pylint fixes
  geoh5py/data/color_map.py
  geoh5py/data/data.py
  geoh5py/data/reference_value_map.py
  geoh5py/data/referenced_data.py
  geoh5py/groups/group_type.py
  geoh5py/groups/property_group.py
  geoh5py/objects/object_type.py
  geoh5py/shared/entity.py
  geoh5py/shared/entity_type.py
  geoh5py/workspace/workspace.py
  tests/geoh5py_test.py
  tests/h5_non_ascii_filename_test.py
  tests/weakref_utils_test.py
Due: pylint, check-copyright

Add release notes, bump version
  docs/content/release_notes.rst
  geoh5py/__init__.py
Due: pylint, check-copyright, rstcheck

remove scipy from tests
  pyproject.toml
  tests/copy_entity_test.py
  tests/create_surface_data_test.py
Due: pylint, check-copyright

Fix test by improving handling of cell type
  geoh5py/objects/surface.py
Due: pylint, check-copyright

Bump version in pyproj.toml
  pyproject.toml
Due: none

Change method name to add_component_data. Beef up test
  docs/content/user_guide/magnetotelluric.ipynb
  geoh5py/objects/surveys/magnetotellurics.py
  tests/create_survey_mt_test.py
Due: pylint, check-copyright

Update docs for change
  docs/content/user_guide/magnetotelluric.ipynb
Due: none

Update release_notes.rst
  docs/content/release_notes.rst
Due: rstcheck

typo correction
  docs/content/user_guide/magnetotelluric.ipynb
Due: none

Add custom exceptions
  geoh5py/ui_json/validators.py
Due: pylint, check-copyright

Use abstract property for validation_type
  geoh5py/ui_json/validators.py
Due: pylint, check-copyright

Add collection of template ui's
  geoh5py/ui_json/constants.py
  geoh5py/ui_json/templates.py
Due: pylint, check-copyright

Work on unit test
  tests/load_ui_json_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  check-copyright: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  rstcheck: any of: .rst, but not: docs/(conf.py|_ext/)
