Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Change attribute modified_entity to modified_attributes. Do check if existing_h5_entity on setter
  geoh5io/data/float_data.py
  geoh5io/data/text_data.py
  geoh5io/groups/group.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/block_model.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
  geoh5io/objects/surface.py
  geoh5io/shared/entity.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/workspace.py
  pylintrc
Due: pylint

Update requirements
  requirements.txt
Due: none

Increase test coverage. Minor updates
  tests/create_curve_data_test.py
  tests/create_point_data_test.py
Due: pylint

Edit wrokspace docs
  geoh5io/workspace/workspace.py
Due: pylint

Add n_cell property back to grid2D and block model. Beef up tests for both
  geoh5io/objects/block_model.py
  geoh5io/objects/grid2d.py
  tests/create_block_model_test.py
  tests/create_grid_2d_test.py
Due: pylint

Fix issue with re-used types
  geoh5io/data/data_type.py
  geoh5io/groups/group_type.py
  geoh5io/objects/object_type.py
Due: pylint

Improve typing of workspace. Update docs
  geoh5io/workspace/workspace.py
Due: pylint

More workspace docs edtis
  geoh5io/workspace/workspace.py
Due: pylint

More workspace docs
  geoh5io/workspace/workspace.py
Due: pylint

Begin added colormap. More clean ups
  docs/content/tutorials/Tutorial1_Basics.ipynb
  docs/content/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/content/tutorials/Tutorial3_Coordinate_Transformation.ipynb
  docs/content/tutorials/assets/MtDore_TMI.geoh5
  docs/content/tutorials/assets/TKC_synthetic.geoh5
  docs/images/gh5py.png
  geoh5io/data/__init__.py
  geoh5io/data/color_map.py
  geoh5io/data/data.py
  geoh5io/data/data_type.py
  geoh5io/io/h5_reader.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/object_base.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/workspace.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_point_data_test.py
  tests/create_property_group_test.py
  tests/create_surface_data_test.py
  tests/data_instantiation_test.py
Due: pylint

Protect against short vector values with truncated ndv
  geoh5io/data/data.py
  geoh5io/data/float_data.py
  geoh5io/data/integer_data.py
Due: pylint

Quick implementation of referenced_data
  geoh5io/data/referenced_data.py
Due: pylint

Quick implementation of giftools_group
  geoh5io/groups/__init__.py
  geoh5io/groups/giftools_group.py
Due: pylint

Fix tests
  geoh5io/data/data.py
  geoh5io/data/float_data.py
  geoh5io/objects/object_base.py
Due: pylint

Add GROUP association option
  geoh5io/data/data_association_enum.py
Due: pylint

Add SurveyAirborneMagnetics class for testing with survey designer
  geoh5io/objects/__init__.py
  geoh5io/objects/curve.py
  setup.py
Due: pylint

Move tutorials directory
  docs/content/tutorials/assets/TKC_synthetic.geoh5
  docs/index.rst
Due: rstcheck

Remove old png's
  docs/content/tutorials/Tutorial1_Basics.ipynb
  docs/content/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/content/tutorials/Tutorial3_Coordinate_Transformation.ipynb
  docs/content/tutorials/assets/MtDore_TMI.geoh5
  docs/content/tutorials/images/Groups.png
  docs/content/tutorials/images/Root.png
  docs/content/tutorials/images/Tutorial2_MtDore_HoughLine.png
  docs/content/tutorials/images/Tutorial2_MtDore_Tilt.png
  docs/content/tutorials/images/Workspace.png
  docs/content/tutorials/images/gh5py.png
  docs/content/tutorials/index.rst
Due: rstcheck

Add Mt Dore project
  docs/tutorials/assets/MtDore_TMI.geoh5
Due: none

Add tutorial notebooks to repo
  docs/tutorials/Tutorial1_Basics.ipynb
  docs/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/tutorials/Tutorial3_Coordinate_Transformation.ipynb
Due: none

Move png's
  docs/tutorials/images/Groups.png
  docs/tutorials/images/Root.png
  docs/tutorials/images/Tutorial2_MtDore_HoughLine.png
  docs/tutorials/images/Tutorial2_MtDore_Tilt.png
  docs/tutorials/images/Workspace.png
  docs/tutorials/images/gh5py.png
  docs/tutorials/index.rst
Due: rstcheck

Change imports to relative
  geoh5io/data/data.py
  geoh5io/data/data_type.py
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/groups/property_group.py
  geoh5io/handlers/data_handler.py
  geoh5io/handlers/groups_handler.py
  geoh5io/handlers/objects_handler.py
  geoh5io/handlers/workspace_handler.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/object_base.py
  geoh5io/objects/object_type.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/shared/entity.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/root_group.py
  geoh5io/workspace/workspace.py
Due: pylint

Return sorted data name list
  geoh5io/objects/object_base.py
Due: pylint

Backup example functions
  docs/tutorials/functions/AEM_systems.json
  docs/tutorials/functions/fem1d_inversion.py
  docs/tutorials/functions/tem1d_inversion.py
  docs/tutorials/functions/widgets.py
  pyproject.toml
Due: pylint

Change return none if object not recognize
  geoh5io/workspace/workspace.py
Due: pylint

Add tutorials. Update widgets
  docs/tutorials/Tutorial4_EM1D_inversion.ipynb
  docs/tutorials/Tutorial5_Create_contours.ipynb
  docs/tutorials/Tutorial6_Export_to_shapefile.ipynb
  docs/tutorials/functions/widgets.py
Due: pylint

Update all widgets for length
  docs/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/tutorials/Tutorial3_Coordinate_Transformation.ipynb
  docs/tutorials/Tutorial5_Create_contours.ipynb
  docs/tutorials/Tutorial6_Export_to_shapefile.ipynb
  docs/tutorials/functions/widgets.py
Due: pylint

Add line_id property to curve connected segments
  geoh5io/objects/curve.py
Due: pylint

Add checks for empty values
  docs/tutorials/Tutorial5_Create_contours.ipynb
  docs/tutorials/functions/widgets.py
Due: pylint

Change property_group creation and name
  geoh5io/groups/property_group.py
  geoh5io/objects/object_base.py
  geoh5io/workspace/workspace.py
  tests/create_property_group_test.py
Due: pylint

Update tests
  pylintrc
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_group_test.py
  tests/create_octree_test.py
  tests/create_point_data_test.py
  tests/create_surface_data_test.py
Due: pylint

Add __init__ for functions needed by tutorials
  docs/tutorials/__init__.py
  pyproject.toml
Due: pylint

Update tutorials
  docs/tutorials/Tutorial3_Coordinate_Transformation.ipynb
  docs/tutorials/Tutorial4_EM1D_inversion.ipynb
  docs/tutorials/Tutorial5_Create_contours.ipynb
  docs/tutorials/Tutorial6_Export_to_shapefile.ipynb
  docs/tutorials/functions/widgets.py
  docs/tutorials/index.rst
Due: pylint, rstcheck

Remove interface and handler autodocs until further work
  docs/content/api/geoh5io.handlers.rst
  docs/content/api/geoh5io.interfaces.rst
  docs/content/api/geoh5io.rst
Due: rstcheck

Revert naming to geoh5py
  docs/index.rst
Due: rstcheck

Move RootGroup to groups to fix import conflicts in io
  geoh5io/groups/__init__.py
  geoh5io/groups/root_group.py
  geoh5io/io/h5_writer.py
  geoh5io/workspace/__init__.py
  geoh5io/workspace/workspace.py
  tests/groups_instantiation_test.py
Due: pylint

Work on docstring
  geoh5io/io/h5_writer.py
Due: pylint

Fix warnings in docstrings
  README.rst
  docs/content/api/geoh5io.data.rst
  docs/content/api/geoh5io.groups.rst
  docs/content/api/geoh5io.io.rst
  docs/content/api/geoh5io.objects.rst
  docs/content/api/geoh5io.rst
  docs/content/api/geoh5io.shared.rst
  docs/content/api/geoh5io.workspace.rst
  docs/content/api/modules.rst
  geoh5io/io/h5_writer.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/object_base.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/workspace/workspace.py
Due: pylint, rstcheck

Path conditions:
  pylint: any of: \.py$, but not: ^doc/
  rstcheck: any of: .rst
