Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: docs/(conf.py|_ext/)
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (devtools|docs)/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$|^\.github/workflows/issue_to_jira.yml$)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

GEOIO-101: codecov for python 3.7 only
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
Due: none

GEOIO-101: update poetry required version
  pyproject.toml
Due: none

GEOIO-101: action fail on python 3.9: remove for now
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
Due: none

Fix for tests
  geoh5py/data/text_data.py
  geoh5py/io/h5_reader.py
  tests/user_comments_test.py
Due: pylint, check-copyright

Fix issue with text data. Add test
  geoh5py/io/h5_writer.py
  tests/create_point_data_test.py
Due: pylint, check-copyright

GEOIO-102: run test on Windows for any pull request
  .github/workflows/pytest-windows.yml
Due: none

GEOIO-102: run test on all OS for special branches
  .github/workflows/pytest-all-os.yml
Due: none

Bring back setup.py for RTD
  pyproject.toml
  setup.py
Due: pylint, check-copyright

GEOIO-106: remove redundant windows from pytest-all-os action
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
Due: none

GEOIO-106: rename to pytest-unix-os
  .github/workflows/pytest-unix-os.yml
Due: none

JIRA key renamed from GEOIO to GEOPY
  .github/workflows/issue_to_jira.yml
Due: none

GEOPY-102: do not use pull_request_target
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
Due: none

GEOPY-102: do not use pull_request_target
  .github/workflows/static-analysis.yml
Due: none

test PR from fork
  tests/h5_non_ascii_filename_test.py
Due: pylint, check-copyright

disable again failing test on Windows
  tests/h5_non_ascii_filename_test.py
Due: pylint, check-copyright

Add delete functions for entities. Add test
  geoh5py/io/h5_writer.py
  geoh5py/shared/entity.py
  geoh5py/workspace/workspace.py
  tests/delete_entity_test.py
Due: pylint, check-copyright

Check for property_groups on delete children
  geoh5py/shared/entity.py
Due: pylint, check-copyright

Add remove_data from group function. Re-order alphabetically prop_group class
  geoh5py/groups/property_group.py
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Expand test for remove_data_from_group
  tests/create_property_group_test.py
Due: pylint, check-copyright

Expand test to deleting data part of prop_group
  tests/delete_entity_test.py
Due: pylint, check-copyright

Update docs for entities
  docs/content/user_guide/entities.ipynb
Due: none

Initial conversion of textile geoh5 docs
  docs/content/geoh5_file_format.rst
  docs/index.rst
Due: rstcheck

Add script for the conversion of textile file using pandoc
  docs/content/textile_to_rst.py
Due: rstcheck

Remove code for deleting entity_type along with entity. Add doc strings for fetch handle + space cleanup
  geoh5py/io/h5_writer.py
Due: pylint, check-copyright

Update tests/delete_entity_test.py
  tests/delete_entity_test.py
Due: pylint, check-copyright

Major rework of remove entities. Change workspace.data, objects and groups to return protected _all_x
  geoh5py/handlers/data_handler.py
  geoh5py/handlers/groups_handler.py
  geoh5py/handlers/objects_handler.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/object_base.py
  geoh5py/shared/entity.py
  geoh5py/workspace/workspace.py
  tests/create_property_group_test.py
  tests/data_instantiation_test.py
  tests/delete_entity_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint, check-copyright

Fix remove of types. Add check on test for removing from geoh5 file
  geoh5py/io/h5_writer.py
  geoh5py/workspace/workspace.py
  tests/delete_entity_test.py
Due: pylint, check-copyright

Change name str_from_utf8_bytes
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Add assert on uid input format
  geoh5py/groups/property_group.py
Due: pylint, check-copyright

Move modify property_group to separated test
  tests/modify_property_group_test.py
Due: pylint, check-copyright

Cleaner creation of property_group
  geoh5py/groups/property_group.py
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Add docs on removing entities
  docs/content/user_guide/entities.ipynb
Due: none

Remove return doc
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Test for pylint
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Check for existing prop_group form name
  geoh5py/objects/object_base.py
Due: pylint, check-copyright

Remove redundant del
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Fix doc strings
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Simplify fetch_h5_handle. Add generalized create_dataset to reduce size of io_writer
  geoh5py/io/h5_writer.py
Due: pylint, check-copyright

Add docsstring to the cls.create_dataset
  geoh5py/io/h5_writer.py
Due: pylint, check-copyright
