Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

is_optional when parameter has a dependency without any consideration of state of dependency parameter
  geoh5py/ui_json/utils.py
  tests/ui_json_utils_test.py
Due: pylint, check-copyright

Add typing. Split methods for retrieving contatenated attributes
  geoh5py/io/h5_reader.py
  geoh5py/shared/concatenation.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

MOre doc strings
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

More docstrings
  geoh5py/shared/concatenation.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Add return type
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Bring back R0912 on drillhole. Move data validation to separate method
  geoh5py/objects/drillhole.py
  tests/create_drillhole_v4_0_test.py
Due: pylint, check-copyright

Remove R0904 exception
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

More typing
  geoh5py/objects/drillhole.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

More typing
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Fix subprocess?
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Move / string replacement to read/write
  geoh5py/io/h5_writer.py
  geoh5py/objects/drillhole.py
  geoh5py/shared/concatenation.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

improve coverage for filename_data write
  geoh5py/io/h5_writer.py
  tests/add_filename_data_test.py
Due: pylint, check-copyright

Remove deprecated method fetch_property_groups
  geoh5py/workspace/workspace.py
  tests/modify_property_group_test.py
Due: pylint, check-copyright

Fix CustomGroup creation. augment tests
  geoh5py/groups/custom_group.py
  geoh5py/groups/group_type.py
  geoh5py/workspace/workspace.py
  tests/groups_instantiation_test.py
Due: pylint, check-copyright

Simplify validate_interval_data
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Increase drillhole coverage
  geoh5py/objects/drillhole.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Add check for empty file_name
  geoh5py/data/filename_data.py
  geoh5py/io/h5_writer.py
  tests/add_filename_data_test.py
Due: pylint, check-copyright

Update block model documentation to include origin
  docs/content/user_guide/core_entities.ipynb
Due: none

Force file name check in setter
  geoh5py/data/filename_data.py
Due: pylint, check-copyright

Fix rst formatting issues
  docs/content/geoh5_format/analyst/data.rst
  docs/content/geoh5_format/analyst/groups.rst
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/integrator/data.rst
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

fix rst formatting issues
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/hierarchy.rst
Due: rstcheck

Add release notes
  docs/content/release_notes.rst
Due: rstcheck

test release 0.3.0-rc.1
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Fix links
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/hierarchy.rst
Due: rstcheck

GEOPY-517 set version to 0.3.0
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Add ui_json API docs. Small docstrings edits
  docs/content/api/geoh5py.rst
  docs/content/api/geoh5py.ui_json.rst
  geoh5py/ui_json/input_file.py
  geoh5py/ui_json/utils.py
Due: pylint, check-copyright, rstcheck

Fix pylint
  tests/create_workspace_test.py
Due: pylint, check-copyright

Rework the logic behind the formerly optional_type (now requires_value) method.
  geoh5py/ui_json/utils.py
  geoh5py/ui_json/validation.py
  tests/ui_json_test.py
  tests/ui_json_utils_test.py
  tests/validators_test.py
Due: pylint, check-copyright

Make open return self. Augment unit test
  geoh5py/workspace/workspace.py
  tests/workspace_context_test.py
Due: pylint, check-copyright

Docstring open()
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Updated UI JSON intro docs
  docs/content/uijson_format/index.rst
Due: rstcheck

Fix Data notebook. Doc string fixes
  docs/content/api/geoh5py.shared.rst
  docs/content/user_guide/data.ipynb
  geoh5py/ui_json/input_file.py
  geoh5py/ui_json/utils.py
Due: pylint, check-copyright, rstcheck

Update geoh5py/workspace/workspace.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Added block model example and simplified the json_objects description.
  docs/content/uijson_format/images/block_model_param.png
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

Adding simple UI JSON example
  docs/content/uijson_format/images/block_model_param.png
  docs/content/uijson_format/images/block_model_param_complete.png
  docs/content/uijson_format/index.rst
Due: rstcheck

Updated ui-json documentation
  docs/content/uijson_format/images/block_model_param.png
  docs/content/uijson_format/images/block_model_param_complete.png
  docs/content/uijson_format/index.rst
Due: rstcheck

Added a tutorial to the ui.json docs
  docs/content/uijson_format/images/block_model_output.png
  docs/content/uijson_format/images/block_model_param_complete.png
  docs/content/uijson_format/images/block_model_uijson.png
  docs/content/uijson_format/index.rst
  docs/content/uijson_format/json_objects.rst
Due: rstcheck

Add typing and docstrings
  geoh5py/ui_json/utils.py
Due: pylint, check-copyright

Split required unit test
  tests/ui_json_utils_test.py
Due: pylint, check-copyright

Added image for python preferences
  docs/content/uijson_format/images/ANALYST_preferences.png
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  check-copyright: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  rstcheck: any of: .rst, but not: docs/(conf.py|_ext/)
