Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

More edits from review
  docs/content/geoh5_format/analyst/objects.rst
  docs/content/geoh5_format/hierarchy.rst
Due: rstcheck

Update entities.ipynb
  docs/content/user_guide/entities.ipynb
Due: none

Update index.rst
  docs/content/geoh5_format/index.rst
Due: rstcheck

attempt to publish to conda
  conda/conda_build_config.yaml
  conda/meta.yaml
Due: none

run poetry lock
  poetry.lock
Due: none

update status from alpha to beta
  pyproject.toml
  setup.py
Due: pylint, check-copyright

GEOPY-263: prepare release
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

fix wrong syntax in yaml
  .github/workflows/pytest-unix-os.yml
Due: none

check yaml in precommit
  .pre-commit-config.yaml
Due: none

Fix test for insertion at same depths
  tests/insert_drillhole_data_test.py
Due: pylint, check-copyright

'development' branch renamed 'develop'
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

have first a release candidate
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

version 0.1.3
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Create surveys module. Initial implementation of Current and Potential Electrodes
  geoh5py/objects/curve.py
  geoh5py/objects/surveys/__init__.py
  geoh5py/objects/surveys/direct_current.py
  geoh5py/objects/surveys/magnetics.py
Due: pylint, check-copyright

Change name of AirborneMagnetics
  geoh5py/objects/__init__.py
  geoh5py/objects/surveys/magnetics.py
Due: pylint, check-copyright

More general check for writer of UUID property
  geoh5py/io/h5_writer.py
Due: pylint, check-copyright

Add current_line_id to Curve
  geoh5py/objects/curve.py
  geoh5py/shared/entity.py
Due: pylint, check-copyright

apply annotations from future and pyupgrade 3.7+
  .pre-commit-config.yaml
  geoh5py/data/data.py
  geoh5py/data/data_unit.py
  geoh5py/data/reference_value_map.py
  geoh5py/data/text_data.py
  geoh5py/groups/custom_group.py
  geoh5py/groups/group.py
  geoh5py/groups/property_group.py
  geoh5py/handlers/data_handler.py
  geoh5py/handlers/groups_handler.py
  geoh5py/handlers/objects_handler.py
  geoh5py/handlers/workspace_handler.py
  geoh5py/interfaces/__init__.py
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/block_model.py
  geoh5py/objects/curve.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_base.py
  geoh5py/objects/octree.py
  geoh5py/objects/points.py
  geoh5py/objects/surface.py
  geoh5py/shared/entity.py
  geoh5py/shared/utils.py
Due: pylint, check-copyright

precommit autoupdate
  .pre-commit-config.yaml
Due: none

set precommit to run with python 3.7
  .pre-commit-config.yaml
Due: none

install missing type stubs for mypy
  .pre-commit-config.yaml
Due: none

Update geoh5py/interfaces/data.pyi
  geoh5py/interfaces/data.pyi
Due: none

Update geoh5py/interfaces/groups.pyi
  geoh5py/interfaces/groups.pyi
Due: none

Update geoh5py/interfaces/objects.pyi
  geoh5py/interfaces/objects.pyi
Due: none

More work on dcip survey
  docs/content/user_guide/surveys.ipynb
  geoh5py/objects/surveys/direct_current.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

Update objects.pyi
  geoh5py/interfaces/objects.pyi
Due: none

remove unused import of 3rd party packages
  geoh5py/interfaces/__init__.pyi
Due: none

mypy not relevant on interface files
  .pre-commit-config.yaml
Due: none

run pre-commit checks on pyi files
  .pre-commit-config.yaml
  geoh5py/interfaces/__init__.pyi
  geoh5py/interfaces/api.pyi
  geoh5py/interfaces/data.pyi
  geoh5py/interfaces/groups.pyi
  geoh5py/interfaces/objects.pyi
  geoh5py/interfaces/shared.pyi
  geoh5py/interfaces/workspace.pyi
  pylintrc
Due: none

configure to run on pre-commit.ci
  .pre-commit-config.yaml
Due: none

fix badge URL for codecov
  README.rst
Due: rstcheck

add badge for precommit-ci
  README.rst
Due: rstcheck

tell mypy to ignore toml in tests
  tests/geoh5py_test.py
Due: pylint, check-copyright

pre-commit now run by pre-commit.ci
  .github/workflows/static-analysis.yml
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  check-copyright: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  rstcheck: any of: .rst, but not: docs/(conf.py|_ext/)
