Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Remove unnecessary del
  tests/delete_entity_test.py
Due: pylint, check-copyright

Update entities.ipynb
  docs/content/user_guide/entities.ipynb
Due: none

Create entities.ipynb
  docs/content/user_guide/entities.ipynb
Due: none

Change order of operation
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Try to fix images in docs with rename
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/images/DHinterval.png
  docs/content/user_guide/images/DHlog.png
Due: none

now use JIRA Cloud for issue creation
  .github/workflows/issue_to_jira.yml
Due: none

fixup JIRA issue creation
  .github/workflows/issue_to_jira.yml
Due: none

add components when creating JIRA issue
  .github/workflows/issue_to_jira.yml
Due: none

Change check to avoid False with 0 index. Expand tests for multiple interval data
  geoh5py/shared/utils.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Add check on length for FROM, TO and n_cells
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Add files via upload
  examples/Geoh5py-test.ipynb
Due: none

GEOPY-174: automatically add JIRA issue summary to PR
  .github/workflows/pr_add_jira_summary.yml
Due: none

update codecov-action version
  .github/workflows/pytest-windows.yml
Due: none

GEOPY-175: fix condition to run CodeCov
  .github/workflows/pytest-windows.yml
Due: none

GEOPY-175: codecov token not necessary anymore
  .github/workflows/pytest-windows.yml
Due: none

GEOPY-175: use any v1.* version for codecov action
  .github/workflows/pytest-windows.yml
Due: none

GEOPY-30: add copyright notices and statements for 3rd party
  .pre-commit-config.yaml
  README.rst
  THIRD_PARTY_SOFTWARE.rst
Due: rstcheck

GEOPY-174: get JIRA summary on PR from forks
  .github/workflows/pr_add_jira_summary.yml
Due: none

Add skeleton for geoh5 format docs
  docs/content/geoh5_format/geoh5_file_format.textile
  docs/content/geoh5_format/index.rst
  docs/content/geoh5_format/textile_to_rst.py
  docs/index.rst
Due: rstcheck

GEOPY-195: update version of h5py
  poetry.lock
  pyproject.toml
Due: none

GEOPY-161: bump version to 0.1.2
  geoh5py/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-161: generate setup.py
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Fix docs reference
  docs/content/user_guide/entities.ipynb
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

GEOPY-161: update setup.py for h5py version
  setup.py
Due: pylint, check-copyright

update poetry-publish
  poetry.lock
Due: none

Begin populating GEOH5 docs
  docs/content/geoh5_format/data.rst
  docs/content/geoh5_format/groups.rst
  docs/content/geoh5_format/hierarchy.rst
  docs/content/geoh5_format/images/hierarchy.png
  docs/content/geoh5_format/images/logo.png
  docs/content/geoh5_format/index.rst
  docs/content/geoh5_format/objects.rst
  docs/content/geoh5_format/types.rst
Due: rstcheck

Add exception for non-existant Root. Simplify hierarchy creation and load entity from file
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/workspace/workspace.py
  poetry.lock
Due: pylint, check-copyright

Add unit test for removing the Root and unused Types
  geoh5py/shared/utils.py
  tests/remove_root_test.py
Due: pylint, check-copyright

Hot fix for copying octree mesh
  geoh5py/objects/octree.py
Due: pylint, check-copyright

Comment out
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Bulk change h5py.File to context with:
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  check-copyright: any of: \.py$ and not ((devtools|docs)/) and not (docs/(conf.py|_ext/))
  rstcheck: any of: .rst, but not: docs/(conf.py|_ext/)
