Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
    -   id: reorder-python-imports
        args: [--py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.720
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^doc/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
    -   id: codespell
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: flake8
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
    -   id: rst-backticks

More docstrings
  geoh5py/objects/curve.py
  geoh5py/objects/grid2d.py
Due: pylint

Refresh entity_type and weakreaf docstrings
  geoh5py/shared/entity_type.py
  geoh5py/shared/weakref_utils.py
Due: pylint

Review docstrings and sort workspace attributes
  geoh5py/workspace/workspace.py
Due: pylint

Fix some doctrings: missing period, return format, ...
  geoh5py/data/data_type.py
  geoh5py/data/integer_data.py
  geoh5py/groups/group.py
  geoh5py/groups/group_type.py
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/block_model.py
  geoh5py/objects/curve.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_base.py
  geoh5py/objects/octree.py
  geoh5py/shared/entity.py
  geoh5py/shared/entity_type.py
  geoh5py/workspace/workspace.py
Due: pylint

some minor fixes in doctrings
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_base.py
  geoh5py/workspace/workspace.py
Due: pylint

fix list of known third parties
  pyproject.toml
Due: none

fixes for pylint to pass
  geoh5py/objects/object_base.py
  geoh5py/workspace/workspace.py
  pylintrc
Due: pylint

remove unused workspace.modified_attributes
  geoh5py/workspace/workspace.py
Due: pylint

add back document on geoh5 file format
  README.rst
  docs/content/geoh5_file_format.textile
Due: rstcheck

add shields for package version and status
  README.rst
Due: rstcheck

add badge for doc and reorganize them
  README.rst
Due: rstcheck

bump version to publish on pypitest
  geoh5py/__init__.py
  pyproject.toml
Due: pylint

reintroduce rst file for package description on PyPI
  package.rst
  pyproject.toml
Due: rstcheck

fix typo
  package.rst
Due: rstcheck

prepare for first publication on Pypi: version 0.1.0
  geoh5py/__init__.py
  pyproject.toml
Due: pylint

remove broken badge of readthedocs
  README.rst
Due: rstcheck

restore specification of geoh5 file format
  README.rst
  docs/content/geoh5_file_format.textile
Due: rstcheck

update badge for codecov
  README.rst
Due: rstcheck

better description for PyPI
  pyproject.toml
Due: none

Allow same uuid on copy for live link
  geoh5py/workspace/workspace.py
  pyproject.toml
Due: pylint

Add read and write of reference_value_map
  geoh5py/data/__init__.py
  geoh5py/data/data_type.py
  geoh5py/data/reference_value_map.py
  geoh5py/data/referenced_data.py
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
Due: pylint

Change workspace attribute setter
  geoh5py/workspace/workspace.py
Due: pylint

Fix issue with instantiation of groups
  geoh5py/groups/group.py
Due: pylint

Add try-catch for editing datasets. Add compression by default
  geoh5py/io/h5_writer.py
Due: pylint

Add reference_data test
  tests/create_reference_data_test.py
Due: pylint

Add shorthand "type" to add_data
  geoh5py/objects/object_base.py
Due: pylint

Improve handling of reference value_map
  geoh5py/data/data_type.py
  geoh5py/data/reference_value_map.py
  geoh5py/data/referenced_data.py
Due: pylint

Add checks for deleted geoh5 group
  geoh5py/io/h5_writer.py
Due: pylint

Update pyproject.toml
  pyproject.toml
Due: none

Add test coverage for curve parts
  tests/create_curve_data_test.py
Due: pylint

fixes for pre-commit hooks
  pyproject.toml
  tests/create_curve_data_test.py
  tests/create_reference_data_test.py
Due: pylint

Docstring and typing fixes
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
Due: pylint

attempt to fix github action
  .github/workflows/pytest-all-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

attempt to fix github action (set-env)
  .github/workflows/static-analysis.yml
Due: none

Remove check for 0 value_map key. Used for no-values
  geoh5py/data/data_type.py
Due: pylint

attempt to fix github action (add-path)
  .github/workflows/pytest-windows.yml
Due: none

Add check for value map positive integer
  geoh5py/data/data_type.py
Due: pylint

fixup github action for multiple OS (add-path)
  .github/workflows/pytest-all-os.yml
Due: none
