Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

GEOIO-26: update scope for copyrights
  .idea/scopes/sources.xml
Due: none

Add directive to delete temp geoh5 files in docs
  docs/conf.py
Due: pylint

Split Installation and Feedback to rst
  docs/content/feedback.rst
  docs/content/installation.rst
  docs/content/user_guide/index.rst
  docs/index.rst
Due: rstcheck

Fix AUTHORS.rst link to website
  docs/AUTHORS.rst
Due: rstcheck

Add/update figures in user_guide
  docs/content/user_guide/images/data.png
  docs/content/user_guide/images/groups.png
  docs/content/user_guide/images/objects.png
  docs/content/user_guide/images/root.png
  docs/content/user_guide/images/workspace.png
  docs/content/user_guide/images/workspace_tree.png
  docs/content/user_guide/index.rst
Due: rstcheck

Add figure for landing page entity
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/images/entities.png
Due: none

Review docstrings for color_map
  geoh5py/data/color_map.py
Due: pylint

Clean up installation page
  docs/content/installation.rst
Due: rstcheck

Work on doc strings for Data class
  geoh5py/data/data.py
Due: pylint

One more pass at Data and Groups docstrings
  geoh5py/data/color_map.py
  geoh5py/data/data.py
  geoh5py/data/data_association_enum.py
  geoh5py/data/data_type.py
  geoh5py/data/data_unit.py
  geoh5py/data/integer_data.py
  geoh5py/data/primitive_type_enum.py
  geoh5py/groups/group_type.py
Due: pylint

Major re-work of docstrings for the io.h5_reader class
  geoh5py/io/h5_reader.py
Due: pylint

Major re-work of h5_writer docs
  geoh5py/io/h5_writer.py
Due: pylint

Add readthedocs.yml
  readthedocs.yml
Due: none

Remove extra sub headers in API doc section
  docs/content/api/geoh5py.rst
Due: rstcheck

Update changes made to renaming H5Write write calls
  geoh5py/workspace/workspace.py
Due: pylint

Update .pre-commit-ci-config.yaml
  .pre-commit-ci-config.yaml
Due: none

Update points docsstrings
  geoh5py/objects/points.py
Due: pylint

Minor change to create_octree_test.py to force pre-commit check
  tests/create_octree_test.py
Due: pylint

Change python version to readthedocs build. Remove extra packages for docs
  environment.yml
Due: none

Attempt to build requirements without setup.py
  environment.yml
  requirements.readthedocs.txt
Due: none

Temporary bring setup.py to test initial RTD build
  pyproject.toml
  requirements.readthedocs.txt
  setup.py
Due: pylint

Add doc requirements
  environment.yml
Due: none

Add sphinx_issues
  environment.yml
Due: none

Add jupyter_client to requirements
  docs/requirements.txt
  environment.yml
Due: none

try to fix issue with nbslhinx, add ipykernel to requirements
  environment.yml
Due: none

Remove assert for curve part type "int32", convert in setter instead
  geoh5py/objects/curve.py
Due: pylint

Small edit to doc strings to trigger updated isort
  geoh5py/objects/block_model.py
Due: pylint

Add scipy for docs
  environment.yml
Due: none

Add link to RTD to git readme
  README.rst
Due: rstcheck

Mirror index intro line from README
  docs/index.rst
Due: rstcheck

Add figure for user_guid/add_data section
  docs/content/user_guide/images/add_data.png
Due: none

Update figures for line and grid2D
  docs/content/user_guide/images/grid2d.png
  docs/content/user_guide/images/line.png
Due: none

Fix broken image links
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/workspace.ipynb
Due: none

Add figure for user_guide/property_group. Update entities notebook
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/images/property_groups.png
Due: none

Add check for children uid when creating a property_group
  geoh5py/objects/object_base.py
Due: pylint

One more attempt at fixing figure links
  docs/content/user_guide/entities.ipynb
  docs/content/user_guide/images/adddata.png
  docs/content/user_guide/images/blankworkspace.png
  docs/content/user_guide/images/propgroups.png
  docs/content/user_guide/workspace.ipynb
Due: none

Review of block_model docstrings. Sort attributes to mirror autodocs
  geoh5py/objects/block_model.py
Due: pylint

Add warning Not yet implemented
  geoh5py/objects/cell.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/geo_image.py
Due: pylint

More edits to block_model docstrings
  geoh5py/objects/block_model.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^doc/
  rstcheck: any of: .rst
