Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: docs/(conf.py|_ext/)
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (devtools|docs)/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$|^\.github/workflows/issue_to_jira.yml$)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Fix input argument parent=None
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Add unittest for parent assignement on create
  tests/create_entity_parent_test.py
Due: pylint, check-copyright

publish rc.1
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Docs fix
  docs/content/user_guide/surveys.ipynb
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

One more hot fix for docs
  docs/content/user_guide/surveys.ipynb
Due: none

GEOPY-107 readthedocs v2 config, remove setup.py, install with pip
  pyproject.toml
  readthedocs.yml
  setup.py
Due: pylint, check-copyright

GEOPY-107 update installation instructions to use "pip install ."
  docs/content/installation.rst
Due: rstcheck

Update survey.ipynb
  docs/content/user_guide/surveys.ipynb
Due: none

Fix int32
  docs/content/user_guide/surveys.ipynb
Due: none

One more try at dcip figs
  docs/content/user_guide/surveys.ipynb
Due: none

One more time
  docs/content/user_guide/surveys.ipynb
Due: none

Revert "GEOPY-107 update installation instructions to use "pip install .""
  docs/content/installation.rst
Due: rstcheck

GEOPY-107 restore setup.py
  setup.py
Due: pylint, check-copyright

Remove property_groups if children not copied
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

soften assert array equal to almost equal and open up the decimal argument to compare_entities method.
  geoh5py/shared/utils.py
Due: pylint, check-copyright

Augment unit test for copy without children
  tests/create_property_group_test.py
Due: pylint, check-copyright

Add omit_list on copy. Augment tests for copy of potential electrodes
  geoh5py/objects/curve.py
  geoh5py/objects/surveys/direct_current.py
  geoh5py/workspace/workspace.py
  tests/copy_survey_dcip_test.py
Due: pylint, check-copyright

Update geoh5py/objects/curve.py
  geoh5py/objects/curve.py
Due: pylint, check-copyright

Update geoh5py/objects/surveys/direct_current.py
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Slip copy to current_electrodes class. Expand unit test
  geoh5py/objects/surveys/direct_current.py
  tests/copy_survey_dcip_test.py
Due: pylint, check-copyright

Add ab_cell_id copy
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Hot fix for non-uid metadata
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

GEOPY-358: allow editable installation
  pyproject.toml
Due: none

avoid conflict for mypy on .py and .pyi
  .pre-commit-config.yaml
Due: none

GEOPY-359: fix some mypy type errors [WIP]
  geoh5py/data/color_map.py
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/block_model.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/points.py
Due: pylint, check-copyright

GEOPY-359: update dependencies
  poetry.lock
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix tab characters
  .github/workflows/codeql-analysis.yml
Due: none

use bash
  .github/workflows/codeql-analysis.yml
Due: none

try default CodeQl setup
  .github/workflows/codeql-analysis.yml
Due: none

run codeQL on PR only if targeting main branch
  .github/workflows/codeql-analysis.yml
Due: none

also run upon push to 'code-ql' branch
  .github/workflows/codeql-analysis.yml
Due: none

use custom installation for dependencies through poetry
  .github/workflows/codeql-analysis.yml
Due: none

Bump versions
  docs/conf.py
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Add release notes
  docs/content/release_notes.rst
Due: rstcheck

GEOPY-331 0.5.1-rc.1 test release
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright

Add backbone for MT survey
  docs/environment.yml
  geoh5py/objects/__init__.py
  geoh5py/objects/surveys/magnetotellurics.py
Due: pylint, check-copyright
