Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Add pf_inversion turotial and script
  docs/tutorials/Tutorial1_Basics.ipynb
  docs/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/tutorials/Tutorial3_Coordinate_Transformation.ipynb
  docs/tutorials/Tutorial4_EM1D_inversion.ipynb
  docs/tutorials/Tutorial5_Create_contours.ipynb
  docs/tutorials/Tutorial6_Export_to_shapefile.ipynb
  docs/tutorials/Tutorial7_GravMag_Inversion.ipynb
  docs/tutorials/functions/__init__.py
  docs/tutorials/functions/pf_inversion.py
  docs/tutorials/functions/utils.py
  docs/tutorials/functions/widgets/inversion.py
  docs/tutorials/functions/widgets/plotting.py
  docs/tutorials/functions/widgets/processing.py
  docs/tutorials/functions/widgets/selection.py
  pyproject.toml
Due: pylint

Edit h5_reader doc strings. Remove project "name" as requirement to fetch functions
  geoh5io/io/h5_reader.py
  geoh5io/workspace/workspace.py
Due: pylint

Refresh docstrings for H5Writer
  geoh5io/io/h5_writer.py
Due: pylint

Add docstrings place holders for all group and data classes
  geoh5io/data/data.py
  geoh5io/data/data_association_enum.py
  geoh5io/data/data_type.py
  geoh5io/data/data_unit.py
  geoh5io/groups/giftools_group.py
  geoh5io/groups/group.py
  geoh5io/groups/property_group.py
Due: pylint

Update docstrings of grid2d
  geoh5io/objects/grid2d.py
Due: pylint

Add copy entity option.
  geoh5io/data/data.py
  geoh5io/data/data_type.py
  geoh5io/shared/entity.py
  geoh5io/workspace/workspace.py
  tests/copy_entity_test.py
Due: pylint

Default root.parent to None
  geoh5io/groups/root_group.py
Due: pylint

Update fem1D inversion app
  docs/tutorials/functions/AEM_systems.json
  docs/tutorials/functions/fem1d_inversion.py
Due: pylint

Add place holdre docs
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/geo_image.py
Due: pylint

Add utils to convert Octree to TreeMesh and backward
  docs/tutorials/functions/utils.py
Due: pylint

Improve pf inversion app
  docs/tutorials/functions/pf_inversion.py
Due: pylint

Fix relative imports for widgets
  docs/tutorials/functions/widgets/export.py
  docs/tutorials/functions/widgets/inversion.py
  docs/tutorials/functions/widgets/plotting.py
  docs/tutorials/functions/widgets/processing.py
  docs/tutorials/functions/widgets/selection.py
Due: pylint

Update to widgets
  docs/tutorials/functions/tem1d_inversion.py
  docs/tutorials/functions/widgets/plotting.py
Due: pylint

Update all tests for name change
  tests/copy_entity_test.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_group_test.py
  tests/create_octree_test.py
  tests/create_point_data_test.py
  tests/create_property_group_test.py
  tests/create_surface_data_test.py
  tests/data_instantiation_test.py
  tests/geoh5io_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
  tests/weakref_utils_test.py
  tests/workspace_context_test.py
  tests/xyx_datatype_test.py
Due: pylint

Implement curve parts property
  geoh5py/objects/curve.py
Due: pylint

change numpy imports to np.
  docs/content/user_guide/assets/my_project.geoh5
  docs/content/user_guide/assets/my_project.geoh5.lock
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/curve.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/surface.py
  requirements.txt
  setup.py
Due: pylint

more changes to symbolic numpy import
  geoh5py/data/float_data.py
  geoh5py/data/integer_data.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/object_base.py
  geoh5py/objects/points.py
  geoh5py/shared/coord3d.py
  tests/create_property_group_test.py
Due: pylint

Rotation type default to float
  geoh5py/objects/block_model.py
  geoh5py/objects/grid2d.py
  geoh5py/objects/octree.py
Due: pylint

Revert "Remove pythonpackage.yml"
  .github/workflows/pythonpackage.yml
Due: none

fix github actions?
  .github/workflows/pythonpackage.yml
Due: none

Fix typo during replace
  geoh5py/io/h5_reader.py
Due: pylint

Remove asset from tests. Change to path.join
  tests/copy_entity_test.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_group_test.py
  tests/create_octree_test.py
  tests/create_point_data_test.py
  tests/create_property_group_test.py
  tests/create_surface_data_test.py
Due: pylint

Remove dependency on scipy for surface object
  geoh5py/objects/surface.py
Due: pylint

Remove scipy as core dependency. Add requirement files for docs and tests
  docs/requirements.txt
  tests/requirements.txt
Due: none

add scipy dev dependency for tests
  poetry.lock
  pyproject.toml
Due: none

geoh5io renamed to geohpy
  .github/workflows/pythonpackage.yml
Due: none

poetry update
  poetry.lock
Due: none

do no introduce dependency on scipy
  geoh5py/objects/surface.py
Due: pylint

ignore geoh5 locks
  .gitignore
Due: none

avoid error from rstcheck on automodule
  .rstcheck.cfg
Due: rstcheck

fix errors reported by rstcheck
  docs/templates/module.rst_t
  docs/templates/package.rst_t
  docs/templates/toc.rst_t
Due: rstcheck

fix some missing renaming to geoh5py
  docs/conf.py
  examples/simple_app.py
  examples/simple_client.py
  pyproject.toml
  server/server.py
Due: pylint

pre-commit auto-update
  .pre-commit-ci-config.yaml
  .pre-commit-config.yaml
Due: none

apply fixes from pre-commit
  docs/conf.py
  docs/content/user_guide/index.rst
  setup.py
Due: pylint, rstcheck

avoid spelling error
  docs/app.yaml
Due: none

fix some missing renaming to geoh5py in configs
  .coveragerc
  environment.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^doc/
  rstcheck: any of: .rst
