Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
    -   id: reorder-python-imports
        args: [--py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.720
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^doc/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
    -   id: codespell
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: flake8
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
    -   id: rst-backticks

Quick change of directory from doc to docs from convention
  docs/AUTHORS.rst
  docs/Makefile
  docs/_ext/Add2Build.py
  docs/_ext/__init__.py
  docs/_ext/autodoc.py
  docs/_ext/edit_on_github.py
  docs/_ext/environmentSetup.py
  docs/_ext/fetch_gae_sdk.py
  docs/app.yaml
  docs/conf.py
  docs/content/installation.rst
  docs/images/installation/AnacondaPath.png
  docs/images/installation/MinicondaInstaller.png
  docs/index.rst
  docs/index.yaml
  docs/make.bat
  docs/source/geoh5io.data.rst
  docs/source/geoh5io.groups.rst
  docs/source/geoh5io.handlers.rst
  docs/source/geoh5io.interfaces.rst
  docs/source/geoh5io.io.rst
  docs/source/geoh5io.objects.rst
  docs/source/geoh5io.rst
  docs/source/geoh5io.shared.rst
  docs/source/geoh5io.workspace.rst
  docs/source/modules.rst
Due: pylint, rstcheck

Add travis to git tests
  .travis.yml
Due: none

Add mockup logo, add intro words to landing
  docs/app.yaml
  docs/conf.py
  docs/content/Tutorial.rst
  docs/content/installation.rst
  docs/images/gh5py.png
  docs/index.rst
Due: pylint, rstcheck

Add a notebook for basic Tutorial doc
  docs/conf.py
  docs/content/Tutorial.rst
  docs/content/Tutorial_Basics.ipynb
  docs/content/my_project.geoh5
  docs/images/GA_demo.png
  docs/images/gh5py.png
  docs/index.rst
Due: pylint, rstcheck

Continue adding material for Tutorial1_Basics
  docs/content/my_project.geoh5
  docs/content/tutorials/Tutorial_Basics.ipynb
  docs/content/tutorials/images/Groups.png
  docs/content/tutorials/images/Root.png
  docs/content/tutorials/images/Workspace.png
  docs/content/tutorials/images/gh5py.png
  docs/index.rst
Due: rstcheck

Reformat docstrings for block model
  geoh5io/objects/block_model.py
Due: pylint

Add more docs to BlockModel
  geoh5io/objects/block_model.py
Due: pylint

Refresh Curve docstring
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
Due: pylint

Refresh grid2D docstrings
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/grid2d.py
Due: pylint

Add templates for sphinx-autodoc. Remove 'module' string. Reduce tree size
  docs/conf.py
  docs/content/api/geoh5io.data.rst
  docs/content/api/geoh5io.groups.rst
  docs/content/api/geoh5io.handlers.rst
  docs/content/api/geoh5io.interfaces.rst
  docs/content/api/geoh5io.io.rst
  docs/content/api/geoh5io.objects.rst
  docs/content/api/geoh5io.rst
  docs/content/api/geoh5io.shared.rst
  docs/content/api/geoh5io.workspace.rst
  docs/content/api/modules.rst
  docs/index.rst
  docs/templates/module.rst_t
  docs/templates/package.rst_t
  docs/templates/toc.rst_t
Due: pylint, rstcheck

More robust origin setter. Default to origin=[0,0,0]
  geoh5io/objects/block_model.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/octree.py
Due: pylint

Refresh docs of ObjectBase
  geoh5io/objects/object_base.py
Due: pylint

Add basic requirements to docstring for meshes
  geoh5io/objects/block_model.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
Due: pylint

Refactor entity creation, remove name as required input. Abandon the data creation directly on object.create
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/objects/object_base.py
  geoh5io/shared/entity.py
  geoh5io/workspace/workspace.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_point_data_test.py
  tests/create_surface_data_test.py
Due: pylint

This is a monster, but it will clean things up a lot.
  geoh5io/data/data.py
  geoh5io/data/data_type.py
  geoh5io/data/referenced_data.py
  geoh5io/data/unknown_data.py
  geoh5io/groups/container_group.py
  geoh5io/groups/custom_group.py
  geoh5io/groups/drillhole_group.py
  geoh5io/groups/group.py
  geoh5io/groups/group_type.py
  geoh5io/groups/notype_group.py
  geoh5io/groups/property_group.py
  geoh5io/io/h5_reader.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/drillhole.py
  geoh5io/objects/geo_image.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/label.py
  geoh5io/objects/notype_object.py
  geoh5io/objects/object_base.py
  geoh5io/objects/object_type.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/shared/entity.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/root_group.py
  geoh5io/workspace/workspace.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_property_group_test.py
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

Cleanup of white spaces
  geoh5io/data/data_type.py
  geoh5io/groups/group_type.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/shared/entity.py
  geoh5io/workspace/workspace.py
Due: pylint

Reduce complexity
  .flake8
Due: none

Change AUTHORS to Mira site
  docs/AUTHORS.rst
Due: rstcheck

Remove comment around h5py
  docs/index.rst
Due: rstcheck

Add place holder files for requirements and setup.py
  environment.yml
  pyproject.toml
  requirements.txt
  setup.py
  tests/assets/pointObject.geoh5
  tests/data_instantiation_test.py
  tests/groups_instantiation_test.py
  tests/objects_instantiation_test.py
Due: pylint

Check on given DataAssociation value
  geoh5io/data/data.py
Due: pylint

Add return type
  geoh5io/data/float_data.py
Due: pylint

Fix FloatData doc strings
  geoh5io/data/float_data.py
Due: pylint

Change return value of float_data
  geoh5io/data/float_data.py
Due: pylint

Add return value for parent
  geoh5io/groups/property_group.py
Due: pylint

Improve docstring of property_group
  geoh5io/groups/property_group.py
Due: pylint

Add docstring and return type
  geoh5io/groups/property_group.py
Due: pylint

Fix issue with property_group assignement. Update test
  geoh5io/objects/object_base.py
  tests/create_property_group_test.py
Due: pylint

Augment test for property_group creation by data name
  geoh5io/objects/object_base.py
  tests/create_property_group_test.py
Due: pylint

Bulk rename update_h5 to modified_entity
  .flake8
  geoh5io/data/float_data.py
  geoh5io/data/text_data.py
  geoh5io/io/h5_writer.py
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  geoh5io/shared/entity.py
  geoh5io/shared/entity_type.py
  geoh5io/workspace/workspace.py
Due: pylint

Dial down all pylint checks
  pylintrc
Due: none

Update docs. Force trigger of pylint
  geoh5io/shared/entity.py
  pylintrc
Due: pylint

Add automated Lineament detection example
  docs/content/tutorials/Tutorial1_Basics.ipynb
  docs/content/tutorials/Tutorial2_Automated_Lineament.ipynb
  docs/content/tutorials/assets/MtDore_TMI.geoh5
  docs/content/tutorials/images/Tutorial2_MtDore_HoughLine.png
  docs/content/tutorials/images/Tutorial2_MtDore_Tilt.png
  docs/content/tutorials/index.rst
  docs/index.rst
Due: rstcheck

Add `shape` property to grids 2D and 3D
  geoh5io/objects/block_model.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/octree.py
Due: pylint

Simplify add_data function to allow for either values only or kwargs
  geoh5io/objects/block_model.py
  geoh5io/objects/curve.py
  geoh5io/objects/geo_image.py
  geoh5io/objects/grid2d.py
  geoh5io/objects/notype_object.py
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
  geoh5io/objects/points.py
  geoh5io/objects/surface.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_point_data_test.py
  tests/create_property_group_test.py
  tests/create_surface_data_test.py
Due: pylint

Temporary fix for reference data
  geoh5io/data/referenced_data.py
Due: pylint

Add safety check for data read without values
  geoh5io/io/h5_reader.py
Due: pylint

Fix bug with change of n_vertices and n_cell to tuple
  geoh5io/objects/object_base.py
  geoh5io/objects/octree.py
Due: pylint

Mirror entity_type attribute handling to the entity
  geoh5io/data/data.py
  geoh5io/io/h5_writer.py
  geoh5io/shared/entity_type.py
Due: pylint

Remove reliance on Coord3D for simpler code
  geoh5io/io/h5_reader.py
  geoh5io/objects/curve.py
  geoh5io/objects/points.py
Due: pylint
