Repository MiraGeoscience/geoh5py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: docs/(conf.py|_ext/)
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (devtools|docs)/
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$|^\.github/workflows/issue_to_jira.yml$)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

install toml types for mypy
  .pre-commit-config.yaml
  tests/geoh5py_test.py
Due: pylint, check-copyright

pylint parallel jobs defined by config
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
Due: none

remove unnecessary quotes
  .pre-commit-config.yaml
Due: none

allow precommit on push by default
  .pre-commit-config.yaml
Due: none

Begin adding metadata to entity
  .pre-commit-config.yaml
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/surveys/direct_current.py
  geoh5py/shared/entity.py
  geoh5py/workspace/workspace.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

First full write to geoh5
  geoh5py/io/h5_reader.py
  geoh5py/io/h5_writer.py
  geoh5py/objects/surveys/direct_current.py
  geoh5py/shared/entity.py
Due: pylint, check-copyright

Update tests
  tests/copy_entity_test.py
  tests/create_block_model_test.py
  tests/create_curve_data_test.py
  tests/create_grid_2d_test.py
  tests/create_octree_test.py
  tests/create_point_data_test.py
  tests/create_reference_data_test.py
  tests/user_comments_test.py
Due: pylint, check-copyright

Simplified ab_cells_id setter
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Update metadata. Fix test
  geoh5py/shared/entity.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

Attempt at removing existing_h5 = False
  geoh5py/io/h5_writer.py
Due: pylint, check-copyright

Generalize association between CUrrent Potentials. Add docs.
  docs/content/user_guide/images/ab_cell_id.png
  docs/content/user_guide/images/current_electrodes.png
  docs/content/user_guide/images/dcip_survey.png
  docs/content/user_guide/images/potential_electrodes.png
  docs/content/user_guide/surveys.ipynb
  docs/environment.yml
  geoh5py/objects/surveys/direct_current.py
  geoh5py/shared/entity.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

Update docs
  .gitignore
  docs/content/api/geoh5py.data.rst
  docs/content/api/geoh5py.groups.rst
  docs/content/api/geoh5py.io.rst
  docs/content/api/geoh5py.objects.rst
  docs/content/api/geoh5py.objects.surveys.rst
  docs/content/api/geoh5py.rst
  docs/content/api/geoh5py.shared.rst
  docs/content/api/geoh5py.workspace.rst
  docs/content/user_guide/index.rst
  docs/content/user_guide/surveys.ipynb
  geoh5py/shared/utils.py
Due: pylint, check-copyright, rstcheck

Set default visible=False on data
  geoh5py/data/data.py
  geoh5py/shared/entity.py
Due: pylint, check-copyright

Increase test coverage
  geoh5py/io/h5_writer.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

Fix docstrings
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Return self
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Switch all asserts to raise
  geoh5py/objects/surveys/direct_current.py
Due: pylint, check-copyright

Change linux PR check
  .github/workflows/pytest-unix-os.yml
Due: none

FIx for tests
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

run pytest on Unix on all protected branches
  .github/workflows/pytest-unix-os.yml
Due: none

rename pytest job for Windows
  .github/workflows/pytest-windows.yml
Due: none

Update drillhole.py
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Return augmented surveys as array with minimum 2 points. Add unit test
  geoh5py/objects/drillhole.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Remove unecessary type(float64). Increase test tolerance on location
  geoh5py/objects/drillhole.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Augment test to cover issue #118
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Further generalize for deep survey points
  geoh5py/objects/drillhole.py
Due: pylint, check-copyright

Fix for desurvey outside the survey depths. Add test
  geoh5py/objects/drillhole.py
  tests/create_drillhole_data_test.py
Due: pylint, check-copyright

Add remove_children method. Remove parent.getter. Make parent.setter write to h5file
  geoh5py/io/h5_writer.py
  geoh5py/shared/entity.py
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Cleanup syntax for dict.items iteration
  geoh5py/data/data_type.py
  geoh5py/groups/group_type.py
  geoh5py/objects/drillhole.py
  geoh5py/objects/object_base.py
  geoh5py/objects/object_type.py
Due: pylint, check-copyright

Add unittest for parent change
  tests/set_parent_test.py
Due: pylint, check-copyright

Add release notes. Bump version
  docs/conf.py
  docs/content/release_notes.rst
  docs/index.rst
  geoh5py/__init__.py
  pyproject.toml
  setup.py
Due: pylint, check-copyright, rstcheck

Increase testing on object_base
  tests/modify_property_group_test.py
Due: pylint, check-copyright

Remove replicated code in io.reader. Increase coverage
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Fix and use io.reader.fetch_value_map
  geoh5py/io/h5_reader.py
Due: pylint, check-copyright

Increase coverage of workspace
  tests/modify_property_group_test.py
Due: pylint, check-copyright

Minor alteration to fetch_property_group method
  geoh5py/workspace/workspace.py
Due: pylint, check-copyright

Increase coverage of dc object
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

Increase test
  geoh5py/objects/surveys/direct_current.py
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

More testing
  tests/create_survey_dcip_test.py
Due: pylint, check-copyright

sync setup.py with pyproject.toml
  setup.py
Due: pylint, check-copyright
